.container{
    display: flex;
    width: auto;
    height: auto;
}
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 2;
}
.container-conteudo{
    flex: 8;
}
.conteudo:target{
    display: flex;
}
.conteudo{
    display: none;
}